{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Liste des Coupon Codes</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">

                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Pourcentage</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for code in codes  %}

                            <tr>
                                <td>
                                    <p class="badge bg-primary">{{ code.getCode()}}</p>
                                </td>
                                <td>{{ code.getPourcentage() }}  </td>
                                <td>
                                    <a class="btn btn-danger" href='{{ path('coupon_delete', {id: code.getCode()}) }}' >Delete </a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <a href='{{ path('coupon_add') }}'class="btn btn-success"> Generate Coupon Codes</a>
            <!-- /.card -->
        </div>
    </div>

{% endblock %}
