{% extends 'front_base.html.twig' %}
{% block body %}
    <div class="container">


        <h1 class="page-title">Merci pour votre achat!</h1>

        <div class="row">
            Votre commande est en cours de traitement, Veuillez vérifier votre boite Email.
        </div>
    </div>
    <br>
{% endblock %}